MODE=development # development / production
PASSWORD_SALT=Very_Secure_Password_Salt

# Postgresql
DB_HOST=postgresql
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

# Auth Service
AUTH_DB_NAME=auth_db
AUTH_PORT=8010
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=supersecretkey
JWT_EXPIRATION=30

# Listing Service
LISTING_DB_NAME=listing_db
LISTING_PORT=8020

# Reservation Service
RESERVATION_DB_NAME=reservation_db
RESERVATION_PORT=8030

# Sample Service
SAMPLE_DB_NAME=sample_db
SAMPLE_PORT=8040

# Frontend
FRONTEND_PORT=5000

