MODE=development # development / production
PASSWORD_SALT=Very_Secure_Password_Salt


# Auth Service
AUTH_DB_HOST=auth_db
AUTH_DB_NAME=postgres
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgres
AUTH_DB_PORT=6050
AUTH_PORT=8010

# Listing Service
LISTING_DB_HOST=listing_db
LISTING_DB_NAME=postgres
LISTING_DB_USER=postgres
LISTING_DB_PASSWORD=postgres
LISTING_DB_PORT=6060
LISTING_PORT=8020

# Reservation Service
RESERVATION_DB_HOST=reservation_db
RESERVATION_DB_NAME=postgres
RESERVATION_DB_USER=postgres
RESERVATION_DB_PASSWORD=postgres
RESERVATION_DB_PORT=6070
RESERVATION_PORT=8030

# Frontend
FRONTEND_PORT=3010

