# Shared with all services
MODE=development # development / production

# Postgresql
DB_HOST=postgresql
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres


# Auth Service
AUTH_DB_NAME=auth_db
AUTH_PORT=8010
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=supersecretkey
JWT_EXPIRATION=30

# Listing Service
LISTING_DB_NAME=listing_db
LISTING_PORT=8020

# Reservation Service
RESERVATION_DB_NAME=reservation_db
RESERVATION_PORT=8030

# Sample Service
SAMPLE_DB_NAME=sample_db
SAMPLE_PORT=8040

# Frontend
FRONTEND_PORT=5000
VITE_AUTH_SERVICE_URL=http://localhost:${AUTH_PORT}
VITE_LISTING_SERVICE_URL=http://localhost:${LISTING_PORT}
VITE_RESERVATION_SERVICE_URL=http://localhost:${RESERVATION_PORT}
VITE_SAMPLE_SERVICE_URL=http://localhost:${SAMPLE_PORT}


# Backend Services Shared ENV VAR
CORS_ORIGIN_URL=http://localhost:${FRONTEND_PORT} # this is for CORS configuration in fastapi